*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	background-image: url('images/langit.jpg');
	background-size: cover;
}

/* Navbar */
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 25px 0;
}
.navbar ul li {
	font-family: century;
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 30px; 
	transition: all .5s ease;
}
.navbar ul li a:hover{
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;
}

.home{
	display: flex;
	flex-direction: column;
	background-image: url('images/langit.jpg');
	height: 800px;
	justify-content: center;
	align-items: center;
	color: black;
}
.home: before{
	content:none ;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('images/hafizah.png');
	background-size: 10px 10px;
	width: 100%;
	z-index: -1;
	opacity: .8;
}
.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 30%;
	right: 10%;

}
.rounded-image{
	border-radius: 30%;
    webkit-border-radius: 30%;
    moz-border-radius: 30%;
}
.heading{
	font-family: century;
	font-size: 25px;
	text-align: center;
	margin: 30px 0px;

}
.btn{
	padding: 10px 35px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	outline: none;
	transition: .6s ease;
}
.btn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;

}
.contact ul li {
	padding: 40px 70px;
	background-image: url('images/langit.jpg');
	display: inline-block;
	color: white;
	background-color: white;
	border-radius: 20%;
	margin: 10px 20px;

}
.copyright{
	border: 1px solid;
	margin: 50px;
	background-color: darkblue;
}
.about{
	text-align: center;
	margin-top: 20px;
	color: white;
	margin: 10px;

}
.about h2{
	margin-top: 40px;
	margin-bottom: 40px;
	color: black;
	text-decoration: underline;
}
.myself p{
	text-align: justify;
	padding: 20px 20px;
	margin: 20px 20px;
	font-family: sans-serif;
	font-size: 60px;
}


